<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/chat.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="content">
            <div class="black-effect"></div>
            <div class="messanger">
                <div class="messanger-header">
                    <div class="messanger-infos">
                        <div class="image-m">
                            <img style="width: 20px;" src="/images/person.png" alt="" srcset="">
                        </div>
                        <div class="name-m">محمد</div>
                    </div>
                    <div class="messanger-infos">
                        <div class="more-messanger">
                            <img src="/images/show-more-button.png" alt="" srcset="">
                        </div>
                        <div class="remove">
                            <img src="/images/line x.png" alt="" srcset="">
                        </div>
                    </div>
                </div>
                <div class="messanger-msg-text">
                    <div class="massanger-msg">
                        <div class="img-messanger">
                            <img style="width:40px" src="/images/person.png" alt="">
                        </div>
                        <div class="mgs-info-messanger">
                            <div class="messanger-name">محمد</div>
                            <div class="messanger-text">مرحبا</div>
                        </div>
                    </div>
                </div>
                <div class="messanger-send-actions">
                    <input type="text"> <button>ارسال</button>
                </div>
            </div>
            <div class="profile">
                <div class="prof-info">
                    <div class="title-profile">عنوان</div>
                    <img style="width: 15px;" src="/images/x icons.png" alt="">
                </div>
                <img style="width:100%;height: 180px;" src="/images/person.png" alt="" srcset="">
                <p style="margin-left:10px"><img style="width:20px;" src="/images/Flag_of_Morocco.svg.png" alt=""> <span
                        style="font-weight:600">المعرب</span></p>
                <div class="profile-options">
                    <div class="options options-private-mssage">محادثة خاصة</div>
                    <div class="options">تنبيهات</div>
                    <div class="options">100</div>
                </div>
            </div>
            <div class="chat-part1">
                <div class="chat-sectionn" style="overflow-x:hidden;">
                    <div class="message-chat" style="">
                        <div class="msg" style="width: 500px;">
                            <img class="p-img" src="/images/person.png" style="width:55px ;" alt="" srcset="">
                            <div class="msg-content">
                                <div class="name">محمد الجناتي</div>
                                <div class="msg-string">مرحبا يا رفاق</div>
                            </div>
                            <div class="time">0د</div>
                        </div>
                    </div>
                    <div class="stats">
                        <div class="x-icons">
                            <p class="title">
                                العنوان
                            </p>
                            <img src="/images/x icons.png" alt="" srcset="">
                        </div>
                    </div>
                    <div class="send-msg-field">
                        <div class="symbols">
                            <img src="/images/right-arrow.png" alt="" srcset="">
                        </div>
                        <div class="more">
                            <img role="button" class="fl nosel emobox" style="padding:5px;width:35px;height: 34px;"
                                src="/images/icons.gif">
                        </div>
                        <div class="send" style="width: 100%;">
                            <input class="msgvalue" type="text" style="width:92%"> <button style="cursor: pointer;" class="sendmsg">أرسال</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-section">
                <div class="card card1">100</div>
                <div class="card">الخاص</div>
                <div class="card">الغرف</div>
                <div class="card">الحانط</div>
                <div class="card">الضبط</div>
            </div>
        </div>
    </div>
    <script src="javascripts/chat.js"></script>
    <script src="/AJAX/app.ajx.js"></script>
</body>

</html>